{
    "arrowParens": "always",
    "bracketSpacing": true,
    "parenSpacing": true,
    "printWidth": 500,
    "semi": false,
    "singleQuote": true,
    "tabWidth": 4,
    "trailingComma": "all",
    "useTabs": false,
    "endOfLine": "auto",
    "multilineArraysWrapThreshold": 4,
    "plugins": ["./node_modules/eslint-plugin-prettier", "./node_modules/prettier-plugin-multiline-arrays"],
    "overrides": [
        {
            "files": ["*.json"],
            "options": {
                "singleQuote": false
            }
        },
        {
            "files": ["*.yaml", "*.yml"],
            "options": {
                "singleQuote": true,
                "tabWidth": 2,
                "useTabs": true
            }
        }
    ]
}
